.page-content-signup {
  margin-top: 80px;

  .tittle {
    color: #22dab9;
    text-align: center;
    margin-bottom: 50px;
  }

  .btn-custom3 {
    background-color: #22dab9;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: #1bb699;
    }
  }
}

.footer-signup {
  margin-top: 120px;
  background-color: #f3f3f3;

  P {
    color: #000000;
  }
}
