.page-content-signin {
  margin-top: 120px;
  .content-gambar {
    .gambar {
      width: 432px;
      height: 319px;
      border-radius: 15px;
    }
  }

  .tittle {
    font-weight: 600;
    font-size: 30.2301px;
    line-height: 45px;

    color: #5ca6fc;
  }

  .btn-custom1 {
    background-color: #22dab9;
    text-decoration: none;
    color: white;
    margin-left: 50px;
    &:hover {
      background-color: #1bb699;
    }
  }

  .btn-custom2 {
    background-color: #5ca6fc;
    text-decoration: none;
    margin-left: 50px;
    color: white;

    &:hover {
      background-color: #4e89ce;
    }
  }
}
